/* Стилизация аккордеона */
.accordionItem {
    border: 1px solid var(--grey-3);
    box-sizing: border-box;
    border-radius: 8px;
    width: 730px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
}

.accordionItem:last-child {
    margin-bottom: 0;
}

.accordionItem__title {
    color: var(--black);
}

.accordionItem__title::-webkit-details-marker {
    display: none;
}

.accordionItem__details {
    color: var(--grey-4);
}