.histogram {
    background: var(--white);
    border: 1px solid var(--grey-3);
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
}

.histogram__label {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
    opacity: 0.8;
    padding-left: 24px;
    padding-top: 16px;
    flex-grow: 1;
}

.histogram__link {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: var(--link);
    padding-right: 29px;
    padding-top: 16px;
    padding-left: 47px;
}

.histogram__value {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    color: var(--black);
    padding-left: 24px;
    padding-top: 16px;
    flex: 1 1 100%;
}

.histogram_barzone {
    flex: 1 1 100%;
}

.histogram_barswrapper {
    height: 50px;
    display: flex;
    gap: 1px;
    align-items: flex-end;
    padding-bottom: 24px;
    padding-top: 26px;
    padding-left: 26px;
    padding-right: 29px;
}

.histogram_barswrapper__bar {
    background-color: var(--link);
    flex-basis: auto;
    flex-grow: 1;
}