.skeleton {
    background: var(--white);
    border: 1px solid var(--grey-3);
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    --grad: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
}

.skeleton__wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    padding-top: 24px;
    padding-bottom: 16px;
    gap: 8px;
}

.skeleton__wrapper:last-child {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.skeleton__avatar {
    width: 64px;
    height: 64px;
    background: var(--grey-2);
    border-radius: 50%;
}

.skeleton__line {
    height: 20px;
    background: var(--grad);
}

.skeleton__line_name {
    width: 172px;
}

.skeleton__line_title {
    width: 257px;
}

.skeleton__line_desc {
    width: 515px;
}